<div
  class="blank-layout-container justify-content-center align-items-center bg-light"
>
  <div class="">
    <mat-card class="cardWithShadow chck">
      <mat-card-content class="p-32">
        <div class="text-center">
          <a>
            <img
              src=".\assets\images\logos\BrigadaLogo.png"
              class="align-middle m-2 imgc"
              alt="logo"
            />
          </a>
        </div>

        <!-- <div class="row m-t-24 custom-row">
            <div class="col-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/google-icon.svg"
                    alt="google"
                    width="16"
                    class="m-r-8"
                  />
                  <span class="d-none d-lg-block">Sign in with Google</span>
                </div>
              </button>
            </div>
            <div class="col-6">
              <button
                mat-stroked-button
                class="w-100 d-flex align-items-center"
              >
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/facebook-icon.svg"
                    alt="facebook"
                    width="40"
                    class="m-r-4"
                  />
                  <span class="d-none d-lg-block">Sign in with FB</span>
                </div>
              </button>
            </div>
          </div> -->

        <div class="or-border m-t-30">Brigada Canteen</div>

        <form class="m-t-30" ngNativeValidate (ngSubmit)="onClickReg()">
          <div class="row">
            <div class="col-6">
              <mat-label>First Name</mat-label>
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  [(ngModel)]="data.firstName"
                  name="firstName"
                  required
                />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-label>Last Name</mat-label>
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  [(ngModel)]="data.lastname"
                  name="lastName"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Email Address</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="email"
                  [(ngModel)]="data.email"
                  name="email"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Contact Number</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  [(ngModel)]="data.phoneNumber"
                  name="phoneNumber"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Username</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  [(ngModel)]="data.userName"
                  name="userName"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Password</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="password"
                  [(ngModel)]="data.password"
                  name="password"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Confirm Password</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="password"
                  [(ngModel)]="confirmPass"
                  name="confirmPass"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <!-- [routerLink]="['/']" -->
          <button mat-flat-button color="primary" class="w-100">Sign Up</button>
          <!-- input -->
        </form>
        <span class="d-block f-w-500 text-center m-t-24"
          >Already have an Account?

          <a
            [routerLink]="['/auth/user-login']"
            class="text-decoration-none text-primary f-w-500 f-s-14"
          >
            Sign In</a
          >
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-toastr-serv></app-toastr-serv>
