// carousel
.carousel {
  overflow: hidden;
  width: 100%;
  // max-width: 800px;
  border-radius: 8px;
  // border: 1px solid #da062e;
}
.carousel img:not(.rounded-circle) {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.sliderbutPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  left: 10px;
}

.sliderbutNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  right: 10px;
}

.buy-button {
  background-color: #da062e; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  padding: 8px 12px; /* Adjusted padding for a smaller button */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.buy-button:hover {
  background-color: #ff002f; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge */
}

.buy-button:active {
  transform: scale(0.95); /* Shrink when clicked */
}
